<div class="modal modal-user-edit hidden">
    <h2>
        {{ l.auth_user_form_edit_title }}
    </h2>

    <form action="/auth/user/edit" method="POST">
        <input type="hidden" name="id" id="user-edit-id" />

        <div class="form-group">
            <label for="user-edit-username">{{ l.auth_user_form_label_username }}</label>
            <div class="widget">
                <input type="text" name="username" id="user-edit-username" required="required" />
            </div>
        </div>

        <div class="form-group">
            <label for="user-edit-password">{{ l.auth_user_form_label_password }}</label>
            <div class="widget">
                <input type="password" name="password" id="user-edit-password" />
            </div>
        </div>

        <div class="actions">
            <button type="button" class="modal-close">
                {{ l.auth_user_form_button_cancel }}
            </button>
            <button type="submit" class="green">
                <i class="fa fa-save icon-left"></i>{{ l.auth_user_form_edit_submit }}
            </button>
        </div>
    </form>
</div>