.DS_Store
.idea
*.iws
*.iml
*.ipr
out/
data/uploads/*
!data/uploads/.gitkeep
data/db/*
!/data/db/.gitkeep
/plugins/user/*
!/plugins/user/.gitkeep
*.lock
__pycache__/
*.log
var/run/*
!var/run/.gitkeep
*.swp
.env
venv/
node_modules
