config = {
    "config": False, # Enable autoreload for html/jinja files
    "port": 5000, # Application port
    "reverse_proxy_mode": False, # True if you want to use nginx on port 80
    "lang": "en", # Language for manage view "fr" or "en"
    "lxfile": '/home/pi/.config/lxsession/LXDE-pi/autostart' # Path to lx autostart file
}
