<!DOCTYPE html>
<html lang="{{ LANG }}">
    <head>
        <title>
            Obscreen - {% block page_title %}{% endblock %}
        </title>
        <meta name="robots" content="noindex, nofollow">
        <meta name="google" content="notranslate">
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ STATIC_PREFIX }}favicon/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_PREFIX }}favicon/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_PREFIX }}favicon/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_PREFIX }}favicon/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ STATIC_PREFIX }}favicon/apple-touch-icon-60x60.png" />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ STATIC_PREFIX }}favicon/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ STATIC_PREFIX }}favicon/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ STATIC_PREFIX }}favicon/apple-touch-icon-152x152.png" />
        <link rel="icon" type="image/png" href="{{ STATIC_PREFIX }}favicon/favicon-196x196.png" sizes="196x196" />
        <link rel="icon" type="image/png" href="{{ STATIC_PREFIX }}favicon/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/png" href="{{ STATIC_PREFIX }}favicon/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="{{ STATIC_PREFIX }}favicon/favicon-16x16.png" sizes="16x16" />
        <link rel="icon" type="image/png" href="{{ STATIC_PREFIX }}favicon/favicon-128.png" sizes="128x128" />
        <meta name="application-name" content="Obscreen"/>
        <meta name="msapplication-TileColor" content="#333333" />
        <meta name="msapplication-TileImage" content="{{ STATIC_PREFIX }}favicon/mstile-144x144.png" />
        <meta name="msapplication-square70x70logo" content="{{ STATIC_PREFIX }}favicon/mstile-70x70.png" />
        <meta name="msapplication-square150x150logo" content="{{ STATIC_PREFIX }}favicon/mstile-150x150.png" />
        <meta name="msapplication-wide310x150logo" content="{{ STATIC_PREFIX }}favicon/mstile-310x150.png" />
        <meta name="msapplication-square310x310logo" content="{{ STATIC_PREFIX }}favicon/mstile-310x310.png" />
        <meta name="theme-color" content="#333333">
        <link rel="manifest" href="/manifest.json">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/lib/fontawesome.min.css" />
        <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/compiled/main.css" />
        {% block add_css %}{% endblock %}
        {{ HOOK(H_ROOT_CSS) }}
    </head>
    <body>

{#        <div class="chips-green"></div>#}
{#        <div class="chips-red"></div>#}
{#        <div class="chips-blue"></div>#}

        <div class="container {% block container_class %}{% endblock %}">
            {% block header %}
                <menu>
                    <h1 class="logo">
                        <a href="{{ url_for('slideshow_slide_list') }}">
                            <img src="{{ STATIC_PREFIX }}img/logo2.png" class="before" />
                            <img src="{{ STATIC_PREFIX }}img/logo2white.png" class="after" />
                            Obscreen
                        </a>
                    </h1>

                    {% if not AUTH_ENABLED or (current_user and current_user.is_authenticated) %}
                    <nav>
                        <ul>
                            {{ HOOK(H_ROOT_NAV_ELEMENT_START) }}
                            <li class="{{ 'active' if request.url_rule.endpoint == 'slideshow_slide_list' }}">
                                <a href="{{ url_for('slideshow_slide_list') }}">
                                    <i class="fa-regular fa-clock"></i> {{ l.slideshow_slide_page_title }}
                                </a>
                            </li>
                            <li class="{{ 'active' if request.url_rule.endpoint == 'slideshow_content_list' }}">
                                <a href="{{ url_for('slideshow_content_list') }}">
                                    <i class="fa fa-image"></i> {{ l.slideshow_content_page_title }}
                                </a>
                            </li>
                            {% if PLAYLIST_ENABLED %}
                            <li class="{{ 'active' if request.url_rule.endpoint == 'playlist_list' }}">
                                <a href="{{ url_for('playlist_list') }}">
                                    <i class="fa fa-bars-staggered"></i> {{ l.playlist_page_title }}
                                </a>
                            </li>
                            {% endif %}
                            {% if FLEET_PLAYER_ENABLED %}
                            <li class="{{ 'active' if request.url_rule.endpoint == 'fleet_node_player_group_list' }}">
                                <a href="{{ url_for('fleet_node_player_group_list') }}">
                                    <i class="fa fa-layer-group"></i> {{ l.fleet_node_player_group_page_title }}
                                </a>
                            </li>
                            <li class="{{ 'active' if request.url_rule.endpoint == 'fleet_node_player_list' }}">
                                <a href="{{ url_for('fleet_node_player_list') }}">
                                    <i class="fa fa-tv"></i> {{ l.fleet_node_player_page_title }}
                                </a>
                            </li>
                            {% endif %}
                            {% if AUTH_ENABLED %}
                            <li class="{{ 'active' if request.url_rule.endpoint == 'auth_user_list' }}">
                                <a href="{{ url_for('auth_user_list') }}">
                                    <i class="fa fa-user"></i> {{ l.auth_page_title }}
                                </a>
                            </li>
                            {% endif %}
                            <li class="{{ 'active' if request.url_rule.endpoint == 'settings_variable_list' }}">
                                <a href="{{ url_for('settings_variable_list') }}">
                                    <i class="fa-solid fa-cogs"></i> {{ l.settings_page_title }}
                                </a>
                            </li>
                            <li class="{{ 'active' if request.url_rule.endpoint == 'sysinfo_attribute_list' }}">
                                <a href="{{ url_for('sysinfo_attribute_list') }}">
                                    <i class="fa-solid fa-list-check"></i> {{ l.sysinfo_page_title }}
                                </a>
                            </li>
                            {% if AUTH_ENABLED %}
                            <li class="user-menu">
                                <div class="username">
                                    <i class="fa fa-user"></i>
                                    {{ current_user.username }}
                                </div>
                                <a href="{{ url_for('logout') }}" title="{{ l.logout }}" class="logout">
                                    <i class="fa fa-right-from-bracket"></i>
                                </a>
                            </li>
                            {% endif %}
                            {{ HOOK(H_ROOT_NAV_ELEMENT_END) }}
                        </ul>
                    </nav>
                    {% endif %}


                   {% block footer %}
                        <footer>
                            {{ HOOK(H_ROOT_FOOTER) }}

                            <p class="version">
                                Obscreen
                                <a href="https://github.com/jr-k/obscreen/releases/tag/v{{ VERSION }}" target="_blank">
                                    v{{ VERSION }}
                                    <i class="fa-brands fa-github"></i>
                                </a>
                            </p>
                        </footer>
                    {% endblock %}
                </menu>
            {% endblock %}

            <main>
            <div class="context-bar">
                <div class="context-menu">
                    <div class="inner">
                        <ul>
                            <li class="active">
                                <a href="">
                                    <span class="icon">
                                        <i class="fa fa-image"></i>
                                    </span>
                                    Bibliothèque
                                </a>
                            </li>
{#                            <li class="divider"></li>#}
                            <li class="acti">
                                <a href="">
                                    <span class="icon">
                                        <i class="fa fa-clock"></i>
                                    </span>
                                    Planifier
                                </a>
                            </li>
{#                            <li class="divider"></li>#}
                            <li class="actifve">
                                <a href="">
                                    <span class="icon">
                                        <i class="fa fa-list-alt"></i>
                                    </span>
                                    Playlist
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="context-divider"></div>

                <div class="context-user">
                    <div class="dropdown">
                        <div class="trigger">
                            <div class="avatar">
                                JR
                            </div>
                            <div class="username">
                                Jessym.R
                            </div>
                            <i class="fa fa-sort-down"></i>
                        </div>
                        <ul class="dropdown-menu">
                           <li class="danger">
                               <a href="#_">
                                   <i class="fa fa-power-off"></i> Déconnexion
                               </a>
                           </li>
                        </ul>
                    </div>
                </div>
            </div>
                   <div class="main-container">
                        <div class="left-panel ">
                            <!-- Right panel content -->
                            <p>Panel droit</p>
                            <p>Contenu du panel droit...</p>
                            <p>Contenu du panel droit...</p>
                            <p>Contenu du panel droit...</p>
                            <p>Contenu du panel droit...</p>
                            <p>Contenu du panel droit...</p>
                            <p>Contenu du panel droit...</p>
                            <p>Contenu du panel drfsdfdsfoit...</p>
                            <p>Contenu du panel droit...</p>
                            <p>Contenu du panel droit...</p>
                            <p>Contenu du panel droit...</p>
                            <p>Contenu du panel droit...</p>
                            <!-- Add more content if needed -->
                        </div>
                        <div class="main-content">
                            <!-- Main content -->
                            <p>Contenu principal</p>
                            {% for i in range(1,1000) %}
                            <p>Lorem ipsum dolor sit amet...</p>
                            {% endfor %}
                            <p>Lorem ipsum dolor sit amet...</p>
                            <p>Lorem ipsum dolor sit amet...</p>
                            <p>Lorem ipsum dolor sit amet...</p>
                            <p>Lorem ipsum dolor sit amet...</p>
                            <p>Lorem ipsum dolor sit amet...</p>
                            <p>Lorem ipsum dolor sit amet...</p>
                            <p>Lorem ipsum dolor sit amet...</p>
                            <p>Lorem ipsum dolor sit amet...</p>
                            <p>Lorem ipsum dolor sit amet...</p>
                            <p>Lorem ipsum dolorfsdfdsfdsfdsfsfdfdsfdsf dsfdsf sit amet...</p>
                            <p>Lorem ipsum dolor sit amet...</p>
                            <p>Lorem ipsum dolor sit amet...</p>
                            <!-- Add more content if needed -->
                        </div>
                        <div class="right-panel ">
                            <!-- Right panel content -->
                            <p>Panel droit</p>
                            <p>Contenu du panel droit...</p>
                            <p>Contenu du panel droit...</p>
                            <p>Contenu du panel droit...</p>
                            <p>Contenu du panel droit...</p>
                            <p>Contenu du panel droit...</p>
                            <p>Contenu du panel droit...</p>
                            <p>Contenu du panel drfsdfdsfoit...</p>
                            <p>Contenu du panel droit...</p>
                            <p>Contenu du panel droit...</p>
                            <p>Contenu du panel droit...</p>
                            <p>Contenu du panel droit...</p>
                            <!-- Add more content if needed -->
                        </div>
                    </div>

                <div class="hidden">
                    {% block page %}{% endblock %}
                </div>
            </main>



        </div>
        <script>
            var secret_key = '{{ SECRET_KEY }}';
            var l = {
                'js_common_are_you_sure': '{{ l.common_are_you_sure }}',
                'js_playlist_delete_confirmation': '{{ l.js_playlist_delete_confirmation }}',
                'js_slideshow_slide_delete_confirmation': '{{ l.js_slideshow_slide_delete_confirmation }}',
                'js_slideshow_content_delete_confirmation': '{{ l.js_slideshow_content_delete_confirmation }}',
                'js_fleet_node_player_group_delete_confirmation': '{{ l.js_fleet_node_player_group_delete_confirmation }}',
                'js_fleet_node_player_delete_confirmation': '{{ l.js_fleet_node_player_delete_confirmation }}',
                'js_auth_user_delete_confirmation': '{{ l.js_auth_user_delete_confirmation }}',
                'js_sysinfo_restart_confirmation': '{{ l.js_sysinfo_restart_confirmation }}',
                'js_sysinfo_restart_loading': '{{ l.js_sysinfo_restart_loading }}'
            };
        </script>
        <script src="{{ STATIC_PREFIX }}js/lib/jquery.min.js"></script>
        <script src="{{ STATIC_PREFIX }}js/utils.js"></script>
        <script src="{{ STATIC_PREFIX }}js/global.js"></script>
        {{ HOOK(H_ROOT_JAVASCRIPT) }}
        {% block add_js %}{% endblock %}
    </body>
</html>
