<!DOCTYPE html>
<html lang="{{ LANG }}">
<head>
    <title>
        Obscreen - {% block page_title %}{% endblock %}
    </title>
    <meta name="robots" content="noindex, nofollow">
    <meta name="google" content="notranslate">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/main.css" />
    {% block add_css %}{% endblock %}
</head>
<body>
<div class="container">
    {% set fleet_mode = request.args.get('fleet_mode') == '1' %}

    {% block header %}
        {% if not fleet_mode %}
             <header>
                <h1 class="logo">
                    <img src="{{ STATIC_PREFIX }}img/logo.png" />
                    Obscreen
                </h1>
                <nav>
                    <ul>
                        <li class="{{ 'active' if request.url_rule.endpoint == 'slideshow_slide_list' }}">
                            <a href="{{ url_for('slideshow_slide_list') }}">
                                <i class="fa-regular fa-clock"></i> {{ l.slideshow_page_title }}
                            </a>
                        </li>
                        {% if FLEET_ENABLED %}
                        <li class="{{ 'active' if request.url_rule.endpoint == 'fleet_screen_list' }}">
                            <a href="{{ url_for('fleet_screen_list') }}">
                                <i class="fa fa-tv"></i> {{ l.fleet_page_title }}
                            </a>
                        </li>
                        {% endif %}
                        <li class="{{ 'active' if request.url_rule.endpoint == 'settings_variable_list' }}">
                            <a href="{{ url_for('settings_variable_list') }}">
                                <i class="fa-solid fa-cogs"></i> {{ l.settings_page_title }}
                            </a>
                        </li>
                        <li class="{{ 'active' if request.url_rule.endpoint == 'sysinfo_attribute_list' }}">
                            <a href="{{ url_for('sysinfo_attribute_list') }}">
                                <i class="fa-solid fa-list-check"></i> {{ l.sysinfo_page_title }}
                            </a>
                        </li>
                    </ul>
                </nav>
            </header>
        {% endif %}
    {% endblock %}

    {% block page %}

    {% endblock %}


    {% block footer %}
        <footer></footer>
    {% endblock %}
</div>
<script>
    var l = {'js_slideshow_slide_delete_confirmation': '{{ l.slideshow_slide_delete_confirmation }}'};
    var l = {'js_fleet_screen_delete_confirmation': '{{ l.js_fleet_screen_delete_confirmation }}'};
    var l = {'js_sysinfo_restart_confirmation': '{{ l.js_sysinfo_restart_confirmation }}'};
    var l = {'js_sysinfo_restart_loading': '{{ l.js_sysinfo_restart_loading }}'};
</script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
{% block add_js %}{% endblock %}
</body>
</html>
