<!DOCTYPE html>
<html lang="fr">
<head>
    <title>
        Obscreen - {{ l.manage_page_title }}
    </title>
    <meta name="robots" content="noindex, nofollow">
    <meta name="google" content="notranslate">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="data/www/css/manage.css" />
</head>
<body>
<div class="container">
    <header>
        <h1 class="logo">
            <img src="data/www/img/logo.png" />
            Obscreen
        </h1>
        <menu>
            <ul>
                <li class="active">
                    <a href="#">
                        <i class="fa-regular fa-clock"></i> {{ l.manage_page_title }}
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-solid fa-gear"></i> {{ l.settings_page_title }}
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-solid fa-list-check"></i> {{ l.sysinfo_page_title }}
                    </a>
                </li>
            </ul>
        </menu>
    </header>
    <div class="toolbar">
        <h2>{{ l.manage_page_title }}</h2>

        <div class="toolbar-actions">
            <button class="purple slide-add"><i class="fa fa-plus icon-left"></i>{{ l.manage_slide_button_add }}</button>
        </div>
    </div>
    <div class="panel">
        <div class="panel-body">
            <h3>{{ l.manage_slide_panel_active }}</h3>
            <table class="active-slides">
                <thead>
                    <tr>
                        <th>{{ l.manage_slide_panel_th_name }}</th>
                        <th class="tac">{{ l.manage_slide_panel_th_duration }}</th>
                        <th class="tac">{{ l.manage_slide_panel_th_enabled }}</th>
                        <th class="tac">{{ l.manage_slide_panel_th_activity }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="empty-tr {% if enabled_slides|length != 0 %}hidden{% endif %}">
                        <td colspan="4">
                            {{
                                l.manage_slide_panel_empty|replace(
                                    '%link%',
                                    ('<a href="javascript:void(0);" class="slide-add">'~l.manage_slide_button_add~'</a>')|safe
                                )
                            }}
                        </td>
                    </tr>
                    {% for slide in enabled_slides %}
                        <tr class="slide-item" data-level="{{ slide.id }}" data-entity="{{ slide.to_json() }}">
                            <td class="infos">
                                <div class="inner">
                                    <a href="javascript:void(0);" class="slide-sort">
                                        <i class="fa fa-sort icon-left"></i>
                                    </a>
                                    {% set icon_type = 'globe' %}
                                    {% if slide.type == 'video' %}
                                        {% set icon_type = 'video' %}
                                    {% elif slide.type == 'picture' %}
                                        {% set icon_type = 'image' %}
                                    {% endif %}

                                    <i class="fa fa-{{ icon_type }} icon-left"></i>
                                    {{ slide.name }}
                                </div>
                            </td>
                            <td class="tac">
                                {{ slide.duration }} {{ l.manage_slide_panel_th_duration_unit }}
                            </td>
                            <td class="tac">
                                <label class="pure-material-switch">
                                    <input type="checkbox" {% if slide.enabled %}checked="checked"{% endif %}><span></span>
                                </label>
                            </td>
                            <td class="actions tac">
                                <a href="javascript:void(0);" class="slide-edit">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a href="{{ slide.location }}" class="slide-download" target="_blank">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <a href="javascript:void(0);" class="slide-delete">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-inactive">
        <div class="panel-body">
            <h3>{{ l.manage_slide_panel_inactive }}</h3>
            <table class="inactive-slides">
                <thead>
                <tr>
                    <th>{{ l.manage_slide_panel_th_name }}</th>
                    <th class="tac">{{ l.manage_slide_panel_th_duration }}</th>
                    <th class="tac">{{ l.manage_slide_panel_th_enabled }}</th>
                    <th class="tac">{{ l.manage_slide_panel_th_activity }}</th>
                </tr>
                </thead>
                <tbody>
                    <tr class="empty-tr {% if disabled_slides|length != 0 %}hidden{% endif %}">
                        <td colspan="4">
                            {{
                                l.manage_slide_panel_empty|replace(
                                    '%link%',
                                    ('<a href="javascript:void(0);" class="slide-add">'~l.manage_slide_button_add~'</a>')|safe
                                )
                            }}
                        </td>
                    </tr>
                    {% for slide in disabled_slides %}
                        <tr class="slide-item" data-level="{{ slide.id }}" data-entity="{{ slide.to_json() }}">
                            <td class="infos">
                                <div class="inner">
                                    <a href="javascript:void(0);" class="slide-sort">
                                        <i class="fa fa-sort icon-left"></i>
                                    </a>
                                    {% set icon_type = 'globe' %}
                                    {% if slide.type == 'video' %}
                                        {% set icon_type = 'video' %}
                                    {% elif slide.type == 'picture' %}
                                        {% set icon_type = 'image' %}
                                    {% endif %}

                                    <i class="fa fa-{{ icon_type }} icon-left"></i>
                                    {{ slide.name }}
                                </div>
                            </td>
                            <td class="tac">
                                {{ slide.duration }} {{ l.manage_slide_panel_th_duration_unit }}
                            </td>
                            <td class="tac">
                                <label class="pure-material-switch">
                                    <input type="checkbox" {% if slide.enabled %}checked="checked"{% endif %}><span></span>
                                </label>
                            </td>
                            <td class="actions tac">
                                <a href="javascript:void(0);" class="slide-edit">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a href="{{ slide.location }}" class="slide-download" target="_blank">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <a href="javascript:void(0);" class="slide-delete">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="footer">

    </div>

    <div class="modals hidden">
        <div class="modals-outer">
            <a href="javascript:void(0);" class="modal-close">
                <i class="fa fa-close"></i>
            </a>
            <div class="modals-inner">
                <div class="modal modal-slide-add">
                    <h2>
                        {{ l.manage_slide_form_add_title }}
                    </h2>

                    <form action="/manage/slide/add" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="slide-add-name">{{ l.manage_slide_form_label_name }}</label>
                            <div class="widget">
                                <input name="name" type="text" id="slide-add-name" required="required" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="slide-add-type">{{ l.manage_slide_form_label_type }}</label>
                            <div class="widget">
                                <select name="type" id="slide-add-type">
                                    <option value="url" data-input="text">{{ l.manage_slide_form_label_type_url }}</option>
                                    <option value="video" data-input="upload">{{ l.manage_slide_form_label_type_video }}</option>
                                    <option value="picture" data-input="upload">{{ l.manage_slide_form_label_type_picture }}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group object-input">
                            <label for="slide-add-duration">{{ l.manage_slide_form_label_object }}</label>
                            <div class="widget">
                                <input type="text" name="object" id="slide-add-object-input-text" class="slide-add-object-input" />
                                <input type="file" name="object" id="slide-add-object-input-upload" class="slide-add-object-input hidden" disabled="disabled" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="slide-add-duration">{{ l.manage_slide_form_label_duration }}</label>
                            <div class="widget">
                                <input type="number" name="duration" id="slide-add-duration" required="required" />
                                <span>{{ l.manage_slide_form_label_duration_unit }}</span>
                            </div>
                        </div>

                        <div class="actions">
                            <button type="button" class="modal-close">
                                {{ l.manage_slide_form_button_cancel }}
                            </button>
                            <button type="submit" class="green">
                                <i class="fa fa-plus icon-left"></i> {{ l.manage_slide_form_add_submit }}
                            </button>
                        </div>
                    </form>
                </div>
                <div class="modal modal-slide-edit hidden">
                    <h2>
                        {{ l.manage_slide_form_edit_submit }}
                    </h2>

                    <form action="/manage/slide/edit" method="POST">
                        <input type="hidden" name="id" id="slide-edit-id" />

                        <div class="form-group">
                            <label for="slide-edit-name">{{ l.manage_slide_form_label_name }}</label>
                            <div class="widget">
                                <input type="text" name="name" id="slide-edit-name" required="required" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="slide-edit-type">{{ l.manage_slide_form_label_type }}</label>
                            <div class="widget">
                                <select id="slide-edit-type" name="type" disabled="disabled">
                                   <option value="url" data-input="text">{{ l.manage_slide_form_label_type_url }}</option>
                                    <option value="video" data-input="upload">{{ l.manage_slide_form_label_type_video }}</option>
                                    <option value="picture" data-input="upload">{{ l.manage_slide_form_label_type_picture }}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="slide-edit-location">{{ l.manage_slide_form_label_location }}</label>
                            <div class="widget">
                                <input type="text" name="location" id="slide-edit-location" disabled="disabled" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="slide-edit-duration">{{ l.manage_slide_form_label_duration }}</label>
                            <div class="widget">
                                <input type="number" name="duration" id="slide-edit-duration" required="required" />
                                <span>{{ l.manage_slide_form_label_duration_unit }}</span>
                            </div>
                        </div>

                        <div class="actions">
                            <button type="button" class="modal-close">
                                {{ l.manage_slide_form_button_cancel }}
                            </button>
                            <button type="submit" class="green">
                                <i class="fa fa-save icon-left"></i>{{ l.manage_slide_form_edit_submit }}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var l = {'manage_slide_delete_confirmation': '{{ l.manage_slide_delete_confirmation }}'};
</script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="data/www/js/tablednd-fixed.js"></script>
<script src="data/www/js/manage.js"></script>
</body>
</html>
