{% extends 'base.jinja.html' %}


{% block page_title %}
    {{ l.settings_page_title }}
{% endblock %}

{% block add_js %}
    <script src="{{ STATIC_PREFIX }}js/settings.js"></script>
{% endblock %}

{% block body_class %}view-settings-list{% endblock %}

{% block page %}
    <div class="top-content">
        <h1>
            {{ l.settings_page_title }}
        </h1>
    </div>

    {% if request.args.get('error') %}
        <div class="alert alert-error">
            {{ request.args.get('error') }}
        </div>
    {% endif %}

    <div class="bottom-content">
        <div class="page-content">
            <div class="inner">
                {% with variables=variables %}
                    {% include 'configuration/settings/component/table.jinja.html' %}
                {% endwith %}

                <div class="modals hidden">
                    <div class="modals-outer">
                        <div class="modals-inner">
                            {% include 'configuration/settings/modal/edit.jinja.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
