<div class="modal modal-content-edit modal-content hidden">
    <h2>
        {{ l.slideshow_content_form_edit_title }}
    </h2>


    <form class="form" action="/slideshow/content/edit" method="POST">

        <input type="hidden" name="id" id="content-edit-id" />

        <div class="form-group">
            <label for="content-edit-name">{{ l.slideshow_content_form_label_name }}</label>
            <div class="widget">
                <input type="text" name="name" id="content-edit-name" required="required" />
            </div>
        </div>
        <div class="form-group">
            <label for="content-edit-type">{{ l.slideshow_content_form_label_type }}</label>
            <div class="widget">
                <select id="content-edit-type" name="type" disabled="disabled">
                    {% for type in enum_content_type %}
                        <option value="{{ type.value }}" data-input="{% if type.value == 'url' or type.value == 'youtube' %}text{% else %}upload{% endif %}">
                            {{ t(type) }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="content-edit-location">{{ l.slideshow_content_form_label_location }}</label>
            <div class="widget">
                <input type="text" name="location" id="content-edit-location" />
            </div>
        </div>


        <div class="actions">
            <button type="button" class="btn-normal modal-close">
                {{ l.slideshow_content_form_button_cancel }}
            </button>
            <button type="submit" class="green">
                <i class="fa fa-save icon-left"></i>{{ l.slideshow_content_form_edit_submit }}
            </button>
        </div>
    </form>
</div>