<div class="modal modal-studio-add">
    <h2>
        {{ l.fleet_studio_form_add_title }}
    </h2>

    <form action="/fleet/studio/add" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="studio-add-name">{{ l.fleet_studio_form_label_name }}</label>
            <div class="widget">
                <input name="name" type="text" id="studio-add-name" required="required" />
            </div>
        </div>

        <div class="form-group">
            <label for="studio-add-host">{{ l.fleet_studio_form_label_host }}</label>
            <div class="widget">
                <input type="text" name="host" id="studio-add-host" required="required" />
            </div>
        </div>

        <div class="form-group">
            <label for="studio-add-port">{{ l.fleet_studio_form_label_port }}</label>
            <div class="widget">
                <input type="number" name="port" id="studio-add-port" required="required" />
            </div>
        </div>

        <div class="actions">
            <button type="button" class="btn-normal modal-close">
                {{ l.fleet_studio_form_button_cancel }}
            </button>
            <button type="submit" class="green">
                <i class="fa fa-plus icon-left"></i> {{ l.fleet_studio_form_add_submit }}
            </button>
        </div>
    </form>
</div>