<div class="modal modal-studio-edit hidden">
    <h2>
        {{ l.fleet_studio_form_edit_title }}
    </h2>

    <form action="/fleet/studio/edit" method="POST">
        <input type="hidden" name="id" id="studio-edit-id" />

        <div class="form-group">
            <label for="studio-edit-name">{{ l.fleet_studio_form_label_name }}</label>
            <div class="widget">
                <input type="text" name="name" id="studio-edit-name" required="required" />
            </div>
        </div>

        <div class="form-group">
            <label for="studio-edit-host">{{ l.fleet_studio_form_label_host }}</label>
            <div class="widget">
                <input type="text" name="host" id="studio-edit-host" required="required" />
            </div>
        </div>

        <div class="form-group">
            <label for="studio-edit-port">{{ l.fleet_studio_form_label_port }}</label>
            <div class="widget">
                <input type="number" name="port" id="studio-edit-port" required="required" />
            </div>
        </div>

        <div class="actions">
            <button type="button" class="btn-normal modal-close">
                {{ l.fleet_studio_form_button_cancel }}
            </button>
            <button type="submit" class="green">
                <i class="fa fa-save icon-left"></i>{{ l.fleet_studio_form_edit_submit }}
            </button>
        </div>
    </form>
</div>