{% block page %}
    <div class="toolbar">
        <div class="toolbar-actions">
            <a href="{{ url_for('slideshow_player_refresh') }}" class="btn" title="{{ l.slideshow_slide_refresh_player }}">
                <i class="fa fa-refresh"></i>
            </a>

            <button class="purple slide-add item-add"><i class="fa fa-plus icon-left"></i>{{ l.slideshow_slide_button_add }}</button>
        </div>
    </div>



    <div class="panel {% if PLAYLIST_ENABLED %}panel-active{% endif %}">
        <div class="panel-body">
            <h3>{{ l.slideshow_slide_panel_active }}</h3>

            {% with tclass='active', slides=enabled_slides %}
                {% include 'slideshow/slides/component/table.jinja.html' %}
            {% endwith %}
        </div>
    </div>

{% endblock %}
