[Unit]
Description=Obscreen Manager
After=network.target

[Service]
User=pi
Group=pi
Environment=VIRTUAL_ENV="/home/pi/obscreen/venv"
Environment=PATH="$VIRTUAL_ENV/bin:$PATH"
WorkingDirectory=/home/pi/obscreen
ExecStart=/home/pi/obscreen/venv/bin/python /home/pi/obscreen/obscreen.py
Restart=always
RestartSec=5
StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy=multi-user.target