[Unit]
Description=Obscreen
After=network.target

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/obscreen
ExecStart=/home/pi/obscreen/obscreen.py
Restart=always
RestartSec=5
StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy=multi-user.target
