{
  "version": 2,
  "keys": [
    "duration",
    "enabled",
    "location",
    "name",
    "position",
    "type",
    "cron_schedule"
  ],
  "data": {
    "0": {
      "location": "data/uploads/sample.jpg",
      "duration": 10,
      "type": "picture",
      "enabled": true,
      "name": "Picture Sample",
      "position": 0,
      "cron_schedule": null
    },
    "1": {
      "location": "https://unix.org",
      "duration": 20,
      "type": "url",
      "enabled": true,
      "name": "URL Sample",
      "position": 1,
      "cron_schedule": null
    }
  }
}