<table class="variables">
    <thead>
    <tr>
        <th>{{ l.settings_variable_panel_th_description }}</th>
        <th>{{ l.settings_variable_panel_th_value }}</th>
        <th class="tac">{{ l.settings_variable_panel_th_activity }}</th>
    </tr>
    </thead>
    <tbody>
    {% set ns = namespace(last_section='') %}
    {% for variable in variables %}
        {% set section_change = variable.plugin and ns.last_section != variable.plugin or variable.section and ns.last_section != variable.section %}

        {% if section_change %}
        <tr>
            <td colspan="3">
                <h3>
                    {% if variable.is_from_plugin() %}
                        {% set plugin = plugins[variable.plugin] %}
                        <i class="fa fa-puzzle-piece icon-left"></i> {{ plugin.use_title() }}
                        {% if plugin.use_description() %}
                            <div class="plugin-description">{{ plugin.use_description() }}</div>
                        {% endif %}
                    {% else %}
                        <i class="fa fa-cog icon-left"></i> {{ variable.section }}
                    {% endif %}
                </h3>
            </td>
        </tr>
        {% endif %}
        <tr class="variable-item" data-level="{{ variable.id }}" data-entity="{{ variable.to_json() }}">
            <td class="infos">
                <div class="inner">
                    {{ variable.description }}
                </div>
            </td>
            <td>
                {% if variable.value %}
                    {% if variable.type.value == 'bool' %}
                        {% if variable.display() %}
                            ✅
                        {% else %}
                            ❌
                        {% endif %}
                    {% else %}
                        {{ variable.display() }}
                    {% endif %}
                {% else %}
                    <span class="empty">{{ l.common_empty }}</span>
                {% endif %}
            </td>
            <td class="actions tac">
                <a href="javascript:void(0);" class="item-edit variable-edit">
                    <i class="fa fa-pencil"></i>
                </a>
            </td>
        </tr>

        {% if variable.is_from_plugin() %}
            {% set ns.last_section = variable.plugin %}
        {% else %}
            {% set ns.last_section = variable.section %}
        {% endif %}
    {% endfor %}
    </tbody>
</table>