header {
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  padding: 0 25px;
}

header .logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

header .logo a {
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .logo img {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

header nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li.user-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid $limeGreen;
  padding: 5px 15px;
  border-radius: 4px;
  background: rgba($limeGreen, .2);
}

header nav ul li.user-menu .logout {
  color: $white;
}

header nav ul li.user-menu .username {
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
  color: $limeGreen;
}

header nav ul li.user-menu .username i {
  margin-right: 5px;
  font-size: 12px;
}

header nav ul li a {
  color: rgba($white, 0.6);
  text-decoration: none;
}

header nav ul li a:hover,
header nav ul li.active a {
  color: white;
}
