{% extends 'base.jinja.html' %}

{% block page_title %}
    {{ l.playlist_page_title }}
{% endblock %}

{% block add_css %}
    {{ HOOK(H_PLAYLIST_CSS) }}
{% endblock %}

{% block add_js %}
    <script src="{{ STATIC_PREFIX }}js/playlist/playlists.js"></script>
    {{ HOOK(H_PLAYLIST_JAVASCRIPT) }}
{% endblock %}

{% block page %}

    <div class="top-content">
        <h1>
            {{ l.playlist_page_title }}
        </h1>

        <div class="top-actions">
            {{ HOOK(H_PLAYLIST_TOOLBAR_ACTIONS_START) }}
            <button class="btn btn-info playlist-add item-add">
                <i class="fa fa-play icon-left"></i>
                {{ l.playlist_button_add }}
            </button>
            {{ HOOK(H_PLAYLIST_TOOLBAR_ACTIONS_END) }}
        </div>
    </div>

    <div class="bottom-content">
        <div class="page-content">
            <div class="inner">
                <div class="panel">
                    <div class="panel-body">
                        <h3>{{ l.sysinfo_panel_title }}</h3>
                        {% with playlists=playlists %}
                            {% include 'playlist/component/table.jinja.html' %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modals hidden">
        <div class="modals-outer">
            <div class="modals-inner">
                {% include 'playlist/modal/add.jinja.html' %}
                {% include 'core/utrack.jinja.html' %}
            </div>
        </div>
    </div>
{% endblock %}
