// Raw Colors
$blueDark: rgb(15, 0, 53);
$pinkyRed: rgb(239, 14, 93);
$limeGreen: rgb(14, 239, 95);
$bitterPurple: rgb(105, 47, 189);
$sweetPurple: rgb(188, 72, 255);
$neutralGrey: rgb(70, 70, 70);
$lightGrey: rgb(153, 153, 153);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

// Type Colors
$success: $limeGreen;
$danger: $pinkyRed;