// Raw Colors
$blueDark: rgb(15, 0, 53);
$bitterBlue: rgb(7, 92, 183);
$seaBlue: rgb(2, 123, 255);
$pinkyRed: rgb(239, 14, 93);
$bitterRed: rgb(194, 9, 65);
$limeGreen: rgb(14, 239, 95);
$bitterGreen: rgb(17, 169, 72);
$bitterPurple: rgb(105, 47, 189);
$sweetPurple: rgb(188, 72, 255);
$neutralGrey: rgb(70, 70, 70);
$lightGrey: rgb(153, 153, 153);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

// Type Colors
$info: $seaBlue;
$success: $limeGreen;
$danger: $pinkyRed;

$primary: $seaBlue;

$baseRadius: 4px;

$layoutBorder: 1px solid #222;
$layoutBackground: #111;
