
// Greyscales
$gscale0: #FFFFFF;
$gscale07: #F7F7F7;
$gscale1B: #EBEBEB;
$gscale17: #E7E7E7;
$gscale15: #E5E5E5;
$gscale14: #E4E4E4;
$gscale1: #EEE;
$gscale2: #DDD;
$gscale3: #CCC;
$gscale4: #BBB;
$gscale5: #AAA;
$gscale6: #999;
$gscale7: #888;
$gscale8: #777;
$gscale9: #666;
$gscaleA: #555;
$gscaleB: #444;
$gscaleC: #333;
$gscaleD: #222;
$gscaleE: #111;
$gscaleE4: #141414;
$gscaleE5: #151515;
$gscaleE7: #171717;
$gscaleEB: #1B1B1B;
$gscaleF7: #070707;
$gscaleF: #000000;

$gkscale0: #000000;
$gkscale07: #070707;
$gkscale14: #141414;
$gkscale15: #151515;
$gkscale17: #171717;
$gkscale1B: #1B1B1B;
$gkscale1: #111;
$gkscale2: #222;
$gkscale3: #333;
$gkscale4: #444;
$gkscale5: #555;
$gkscale6: #666;
$gkscale7: #777;
$gkscale8: #888;
$gkscale9: #999;
$gkscaleA: #AAA;
$gkscaleB: #BBB;
$gkscaleC: #CCC;
$gkscaleD: #DDD;
$gkscaleE: #EEE;
$gkscaleE4: #E4E4E4;
$gkscaleE5: #E5E5E5;
$gkscaleE7: #E7E7E7;
$gkscaleEB: #EBEBEB;
$gkscaleF7: #F7F7F7;
$gkscaleF: #FFFFFF;