
// Greyscales
$gscale0: #FFFFFF;
$gscale04: #E4E4E4;
$gscale05: #E5E5E5;
$gscale07: #E7E7E7;
$gscale0B: #EBEBEB;
$gscale1: #EEE;
$gscale2: #DDD;
$gscale3: #CCC;
$gscale4: #BBB;
$gscale5: #AAA;
$gscale6: #999;
$gscale7: #888;
$gscale8: #777;
$gscale9: #666;
$gscaleA: #555;
$gscaleB: #444;
$gscaleC: #333;
$gscaleD: #222;
$gscaleE: #111;
$gscaleF4: #141414;
$gscaleF5: #151515;
$gscaleF7: #171717;
$gscaleFB: #1B1B1B;
$gscaleF: #000000;

$gkscale0: #000000;
$gkscale04: #141414;
$gkscale05: #151515;
$gkscale07: #171717;
$gkscale0B: #1B1B1B;
$gkscale1: #111;
$gkscale2: #222;
$gkscale3: #333;
$gkscale4: #444;
$gkscale5: #555;
$gkscale6: #666;
$gkscale7: #777;
$gkscale8: #888;
$gkscale9: #999;
$gkscaleA: #AAA;
$gkscaleB: #BBB;
$gkscaleC: #CCC;
$gkscaleD: #DDD;
$gkscaleE: #EEE;
$gkscaleF4: #E4E4E4;
$gkscaleF5: #E5E5E5;
$gkscaleF7: #E7E7E7;
$gkscaleFB: #EBEBEB;
$gkscaleF: #FFFFFF;