.alert {
  padding: 20px 20px;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.alert-info {
  color: $seaBlue;
  background: rgba($seaBlue, .2);
}

.alert-success {
  color: $success;
  background: rgba($success, .2);
}

.alert-danger,
.alert-error {
  color: $danger;
  background: rgba($danger, .2);
}

.alert i {
  margin-right: 13px;
}