button,
.button {
	position: relative;
	padding: 15px 30px;
	font-size: 16px;
	color: #fff;
	cursor: pointer;
	transition: background-position 0.3s ease;
	border: 2px solid black;
	border-radius: $baseRadius;
}