
.dropdown {
	position: relative;
	display: flex;
	align-self: stretch;


	&.dropdown-show ul.dropdown-menu {
		display: flex;
		flex-direction: column;
	}

	.trigger {
		cursor: pointer;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		align-self: stretch;
		flex: 1;
	}

	ul.dropdown-menu {
		position: absolute;
		top: 100%;
		left: 0;
		display: none;
		background-color: #222;
		box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
		z-index: 1000;
		list-style-type: none;
		margin: 0;
		overflow: hidden;
		border-radius: 4px;

		li {
			padding: 8px 16px;
			cursor: pointer;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;

			&.danger:hover {
				background-color: $danger;
			}

			&:hover {
				background-color: $seaBlue;
			}

			a {
				padding: 8px 16px 8px 8px;
				color: white;
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				align-self: stretch;

				i {
					margin-right: 15px;
				}
			}
		}
	}
}
