
span.empty {
	background: rgba($yellow, .3);
	color: $yellow;
	text-transform: lowercase;
	border-radius: 2px;
	padding: 2px 4px;
	font-weight: bold;
}


.inner-empty {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-self: stretch;
	justify-content: center;
	align-items: center;

	i {
		font-size: 90px;
		opacity: 0.3;
		text-shadow: 0 -1px $gscale3, 0 0px .5px $gscale4;
	}

}