

ul.explr-tree {
	height: 100% !important;

	ul {
		padding-top: 0 !important;
	}

	li {
		position: relative;

		span {
			color: $gscale5;
			font-size: 13px;
			padding-left: 5px;
			cursor: pointer;

			&.explr-plus,
			&.explr-minus {
				z-index: 1;

				&:hover {
					color: $gscaleA;
				}
			}
		}

		i.main {
			font-size: 14px;
		}

		sup,
		sub {
			position: absolute;
			top: 0;
			left: 5px;
			background: $gscale7;
			border-bottom: 2px solid $gscale5;
			border-radius: $baseRadius;
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			padding-top: 2px;
			padding-bottom: 1px;

			i {
				color: $white;
				font-size: 4px !important;
				margin-bottom: 0;
			}
		}

		a {
			color: $gscaleF;
			padding-right: 80px;
			margin-top: 2px;

			&:hover {
				color: $gscaleF;
			}

			&.active {
				background: rgba($gscaleF, .1);
				border-radius: $baseRadius;
				font-weight: bold;
				text-decoration: underline;
				margin-left: 35px;
				padding-left: 5px;
				margin-right: 10px;
			}
		}
	}
}

.explr-multiselection-actions,
.explr-selection-actions {
	display: none;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	flex: 1;

	button {
		display: none;
	}
}

body.explr-selection-actionable {
	.explr-selection-actions {
		display: flex;
	}

	&.explr-selection-folder {
		.explr-selection-actions {
			button.explr-selection-folder {
				display: flex;
			}
		}
	}

	&.explr-selection-entity {
		.explr-selection-actions {
			button.explr-selection-entity {
				display: flex;
			}
		}
	}
}

body.explr-multiselection-actionable {
	.explr-multiselection-actions {
		display: flex;
	}

	&.explr-multiselection-folder {
		.explr-multiselection-actions {
			button.explr-multiselection-folder {
				display: flex;
			}
		}
	}

	&.explr-multiselection-entity {
		.explr-multiselection-actions {
			button.explr-multiselection-entity {
				display: flex;
			}
		}
	}
}

.selectable-zone {
	flex: 1;
	align-self: stretch;
	border: 1px solid transparent;
}

ul.explr-dirview {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	li {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		flex-shrink: 0;
		margin: 10px 10px;
		min-width: 100px;
		min-height: 130px;
		padding-top: 5px;
		border: 1px solid transparent;
		border-radius: $baseRadius;

		&.renaming {
			a {
				span {
					display: none;
				}

				form {
					display: block;
				}
			}
		}

		&.highlight-drop {
			border: 1px dotted rgba($seaBlue, .4);
			background: rgba($seaBlue, .3);
		}

		&.highlight-clicked {
			border: 1px dotted rgba($gscaleF, .2);
			background: rgba($gscaleF, .1);
		}

		a {
			color: $gscaleB;
			text-decoration: none;
			flex: 1;
			text-align: center;
			font-size: 12px;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			max-width: 84px;
			min-width: 84px;
			position: relative;
			word-break: break-all;

			&.with-thumbnail {

				.img-holder {
					width: 64px;
					height: 64px;
					background: $gscale07;
					border-radius: 8px;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					overflow: hidden;
					margin-bottom: 12px;

					img {
						max-height: 100%;
						max-width: 100%;
					}
				}

				i {
					font-size: 24px;
					position: absolute;
					top: -4px;
					left: -4px;
					text-shadow: 0 .5px .5px $gscale7;
				}
			}

			i {
				font-size: 64px;
				margin-bottom: 12px;
				border-radius: 8px;
			}

			sup,
			sub {
				position: absolute;
				top: -2px;
				right: 0;
				background: $gscale7;
				border-bottom: 2px solid $gscale5;
				border-radius: $baseRadius;
				width: 16px;
				height: 16px;
				text-align: center;
				display: flex;
				justify-content: center;
				align-items: center;
				padding-top: 2px;
				padding-bottom: 1px;

				i {
					color: $white;
					font-size: 10px;
					margin-bottom: 0;
				}
			}

			input {
				width: 100%;
				padding: 0 3px;

				&:focus {
					outline: none;
				}
			}

			&:hover {
				opacity: 0.8;
			}

			form {
				display: none;
			}
		}

		&.new-folder {
			a {
				color: $seaBlue;

				form {
					display: block;
				}
			}
		}
	}

	.ui-draggable-dragging {
		z-index: 20;

		a {
			opacity: 1 !important;
		}
	}
}

.modal-explr-picker {
	h2 {
		margin-top: 0;
	}

	.explr-tree {
		width: 400px;
		max-width: 400px;
		max-height: 300px;
		overflow: auto;
		background: $gscale2;
		padding: 10px 20px 10px 20px;
		border-radius: $baseRadius;
		margin-top: 15px;
	}
}

.content-explr-picker {
	cursor: pointer;
}



.selection-rectangle {
    position: absolute;
    border: 1px solid $systemSelect;
    background-color: rgba($systemSelect, 0.1);
    pointer-events: none;
    z-index: 1000;
}