.left-panel {
	flex: 0.5;
	overflow-y: auto;
	padding: 0;
	background: $layoutBackground;
	box-shadow: 1px 1px .5px .5px inset rgba(0, 0, 0, 0.2);
	border: 1px solid #222;
	max-width: 250px;

	ul.explr-tree {
		height: 100% !important;

		li {
			span {
				color: #AAA;
				font-size: 17px;
				padding-left: 1px;
			}

			a {
				color: white;
				padding-right: 80px;

				&.active {
					background: rgba(255,255,255,.1);
					border-radius: $baseRadius;
					font-weight: bold;
					text-decoration: underline;
					margin-left: 35px;
					padding-left: 5px;
					margin-right: 10px;
				}
			}
		}
	}
}
