.panel {
  background: $white;
  border-radius: 5px;
  padding: 25px 25px 80px 25px;
  margin: 10px 25px;
  align-self: stretch;
}

.panel.no-border {
  border: none;
}

.panel h3 {
  color: $black;
}

.panel-inactive {
  background: rgba(255, 255, 255, .1);
  color: white;
  border-color: $lightGrey;
}

.panel-inactive h3 {
  color: lighten($black, 10%);
}

.panel table {
  width: 100%;
  margin-top: 30px;
  border-collapse: collapse;
  text-align: left;
  font-weight: normal;
}

.panel th {
  border-bottom: 1px solid $white;
  border-collapse: collapse;
  padding: 10px;
  font-weight: normal;
}

.panel-inactive th {
  border-color: $lightGrey;
}

.panel td {
  border-collapse: collapse;
  padding: 10px;
}

.panel td .td-secondary {
  font-size: 14px;
  opacity: 0.6;
  margin-left: 3px;
}

.panel td a.item.sort {
  cursor: move;
}

.panel td a.item-name {
  color: $white;
}

.panel-inactive td a.item-name {
  color: $lightGrey;
}

.panel td a.item-name:hover {
  text-decoration: underline;
}

.panel td.actions a {
  background: $white;
  color: lighten($black, 20%);
  border: 1px solid $lightGrey;
  border-radius: 4px;
  padding: 2px;
  width: 35px;
  display: inline-block;
  text-align: center;
  margin: 0 2px;
}

.panel td.actions a:hover {
  color: $limeGreen;
  border-color: $limeGreen;
}

.panel td.actions a.item-edit:hover {
  color: $sweetPurple;
  border-color: $sweetPurple;
}

.panel td.actions a.item-delete:hover {
  color: $danger;
  border-color: $danger;
}

.panel td.infos {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.panel td .inner {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.panel td div.badge {
  margin-right: 5px;
  font-size: 10px;
  font-weight: bold;
}

.panel a {
  color: $limeGreen;
  text-decoration: none;
}

.panel a:hover {
  color: darken($limeGreen, 10%);
}

.panel.panel-menu {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-self: stretch;
  margin-right: 0;
  border-color: $bitterPurple;
}

.panel.panel-menu ul {
  flex: 1;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  list-style: none;
  margin: 0;
  padding: 0;
}

.panel.panel-menu ul li {
  margin: 3px 0;
}

.panel.panel-menu ul li a {
  padding: 5px 15px;
  color: inherit;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}

.panel.panel-menu ul li:hover {
  color: $neutralGrey;
  font-weight: bold;
}

.panel.panel-menu ul li.active {
  color: $bitterPurple;
  background: rgba($bitterPurple, 0.34);
  border-radius: 4px;
  font-weight: bold;
  border: 1px solid $bitterPurple;
}

.panel.panel-menu ul li.active a {
  color: inherit;
}
