.toolbar {
  display: flex;
  flex-direction: row;
  padding: 0 25px;
  align-self: stretch;
}

.toolbar h2 {
  padding: 0 25px 0 0;
}

.toolbar .toolbar-actions {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
