
.invisible {
    visibility: hidden !important;
}

.hidden {
    display: none !important;
}

.tac {
    text-align: center;
}

.tar {
    text-align: right;
}

a {
    text-decoration: none;
}

.col {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-self: stretch;
}