{% extends 'base.jinja.html' %}


{% block page_title %}
    {{ l.sysinfo_page_title }}
{% endblock %}

{% block add_js %}
    <script src="{{ STATIC_PREFIX }}js/restart.js"></script>
{% endblock %}

{% block page %}
    <div class="toolbar">
        <h2>{{ l.sysinfo_page_title }}</h2>
        <div class="toolbar-actions">
            <button class="purple sysinfo-restart"><i class="fa fa-refresh icon-left"></i>{{ l.sysinfo_panel_button_restart }}</button>
        </div>
    </div>
    <div class="panel">
        <div class="panel-body">
            <h3>{{ l.sysinfo_panel_title }}</h3>
            <table class="active-slides">
                <thead>
                    <tr>
                        <th>{{ l.sysinfo_panel_th_attribute }}</th>
                        <th>{{ l.sysinfo_panel_th_value }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ l.sysinfo_panel_td_ipaddr }}</td>
                        <td>{{ ipaddr }}</td>
                    </tr>
                    {% for ro_variable in ro_variables %}
                        <tr>
                            <td>{{ ro_variable.description }}</td>
                            <td>{{ ro_variable.display() }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
