
.view-content-list main .main-container {


}

.view-content-edit main .main-container {

	.bottom-content {
		.page-content {
			flex: 1;

			.form-holder {
				margin: 20px 20px 20px 10px;
			}
		}
		.page-panel.right-panel {
			flex: 1;
		}
	}
}





