
.view-content-list main .main-container {

	.page-content {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;

		.dirview {
			ul {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;

				li {
					display: flex;
					width: 64px;
					height: 64px;
					background: red;
				}
			}
		}
	}
}





