
.page-content main .main-container {

    .left-panel {
        flex: 0.5;
        overflow-y: auto;
        padding: 0;
        background: #EEE;
        box-shadow: 1px 1px .5px .5px inset rgba(0, 0, 0, 0.2);
        border: 1px solid #222;

        ul.explr {
           li {

           }
        }

    }

    .main-content {

    }
}





