.view-logs-list main .main-container {
	.bottom-content {
		.page-content {

			.panel-logs {
				padding-bottom: 20px;
			}

			.panel-logs pre {
				background: rgba($black, 0.9);
				border: 1px solid $neutralGrey;
				border-radius: 4px;
				font-family: monospace;
				color: darken($white, 5%);
				padding: 20px;
				min-height: 200px;
				max-height: 500px;
				overflow: auto;
				max-width: 1100px;
				overflow: auto;
			}

		}

		.page-panel.right-panel {

		}
	}
}





