.view-login main .main-container {

	position: relative;

	.alert {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
	}

	.login-content {
		display: flex;
		flex: 1;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.form-holder {
			width: 400px;
			display: flex;
			justify-content: center;
			align-items: center;
			align-self: stretch;
			margin-left: auto;
			margin-right: auto;

			.card {
				display: flex;
				justify-content: center;
				align-items: center;
				align-self: stretch;
				border-radius: 6px;
				padding: 50px 50px;
				color: lighten($black, 20%);

				form {
					padding: 0;
					flex: 1;
					display: flex;
					justify-content: center;
					align-items: center;
					align-self: stretch;

					.actions {
						margin-top: 10px;

						.btn {
							padding-left: 20px;
							padding-right: 20px;
						}
					}
				}
			}
		}
	}
}





