.view-logs-list main .main-container {
	.bottom-content {
		.page-content {

			.inner {
				padding-top: 8px;
				padding-bottom: 8px;
			}

			.logs {
				flex: 1;
				display: flex;
				flex-direction: column;
				align-self: stretch;

				pre {
					flex: 1;
					background: rgba($black, 0.9);
					border: 1px solid rgba($neutralGrey, .5);
					border-radius: $baseRadius;
					font-family: monospace;
					color: darken($white, 5%);
					padding: 20px;
					overflow: auto;
					align-self: stretch;
				}
			}
		}

		.page-panel.right-panel {

		}
	}
}





