
.view-plugins-list main .main-container {
	.bottom-content {
		.page-content {

			.plugin-description {
				font-size: 14px;
				margin-left: 34px;
				color: $lightGrey;
			}

		}

		.page-panel.right-panel {

		}
	}
}





